.app-header {
  width: 100%;
  background-color: var(--secondary);
  position: sticky;
  top: 0%;
  border-bottom: 1px solid #212122;
  z-index: 9999;
}
.app-header-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app-header-left {
  display: flex;
  align-items: center;
  gap: 25px;
}
.app-header-logo {
  display: inline;
  text-decoration: none;
}
.app-header-content {
  width: 100%;
}
.content-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.content-link {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 12px 0;
  transition: all 0.25s;
}
.content-link.active {
  color: var(--red);
}
.app-header-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 25px;
}
.app-header-search {
  position: relative;
}
.app-search-input {
  flex-shrink: 0;
  /* width: 100%; */
  width: 300px;
  padding: 12px 40px 12px 20px;
  border: 1px solid var(--border);
  background-color: transparent;
  color: white;
  font-weight: 500;
  outline: none;
  border-radius: 20px;
  transition: all 0.25s;
}
.app-header-search > button {
  display: block;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  color: #4d4d4d;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.app-search-input:focus {
  border: 1px solid white;
}
.app-search-input:focus ~ button {
  color: white;
}
.app-header-users {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.users {
  position: relative;
  cursor: pointer;
}
.users-content {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: var(--sidebar);
  width: 240px;
  min-height: 100px;
  border-radius: 6px;
  display: none;
}
.users-content::before {
  position: absolute;
  content: "";
  top: -10px;
  left: 0;
  background-color: transparent;
  width: 240px;
  height: 9px;
}
.users-info {
  display: flex;
  align-items: center;
  color: white;
  padding: 20px;
  font-weight: 500;
}
.users-info > span {
  color: var(--blue);
  margin-left: 20px;
}
.list-action {
  border-top: 1px solid var(--border);
}
.action-item {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: var(--text);
  transition: all 0.25s;
  display: flex;
  align-items: center;
  gap: 10px;
}
.action-item:hover {
  background-color: var(--border);
}
.action-item:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.users:hover > .users-content {
  display: block;
}
.app-header-signin {
  display: block;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid var(--border);
  color: var(--label);
  transition: all 0.25s;
}

.app-header-signin:hover {
  background-color: var(--blue);
  color: white;
}
